<app-main-page-video></app-main-page-video>


<div class="main">
  <div class="main-logo">
    <img class="main-logo-image" src="assets/logo/logo(2).png">
  </div>
  <app-nav-top class="main-nav-top"></app-nav-top>
  <div class="home-section">
    <div class="home-section-heading">
      <h3>YOU NEED US?</h3>
    </div>
    <div class="home-section-paragraph">
      <p>WE ARE WAITING
        <br> TO MAKE YOU HAPPY!</p>
    </div>
    <div class="home-section-button">
      <button>SELECT YOUR APP</button>
    </div>
  </div>
  <app-second-section class="main-second-section"></app-second-section>
</div>